body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.input {
  width: 75%;
  margin-top: 20px;
  padding-bottom: 10px;
}
.loginRadio {
  width: 10%;
  margin-right: auto;
  margin-left: auto;
}
.checkBox {
  position: relative;
  padding-top: 10px;

  padding-bottom: 10px;
}

.loginButton {
  width: auto;
  display: inline;
  margin-inline: 10px;
}

Button {
  width: auto;
  display: inline;
  margin-inline: 10px;
}

.view {
  display: block;
  text-align: justify;
  margin-block: 10px;
  padding: 10px;
}
.pages {
  min-height: calc(100vh - 111px);
}

.input-container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 50% 50%;
}
.reg-left {
  margin: 1rem;
}
.reg-right {
  margin: 1rem;
}
.patient-record-page {
  height: 70vh;
}

div .p-details {
  width: 70vw;
}

.errorMessage {
  padding-bottom: 20px;
}

.dot{
  margin-right: auto;
  margin-left: auto;

}

.registration{
  width: 20pc;
  margin-right: auto;
  margin-left: auto;
}

.notes{
  width:20pc;

  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.grid{
  width: 100%;
  display: grid;
 grid-template-columns: 50% 50%;
}
.notes{
  text-align: left;

}

.appoinf{
  text-align: center;
}
.Request{
  width: 50%;
  
}
.parientInfo{
  margin-left: 60%;
}

.parientInfocomp{
  
  margin-left:80%;

}

.RequestPrescription{

width: 60%;
text-align:left;

}
.requestApointment{
  margin-left: 20%;
  width: 75%;
  text-align: left;

}
.symptoms{
  text-align: left;
  margin-left: 35%;
  

}


.SymptomsChecker{
  margin-left: 30%;
  width:auto;
  height: inherit;
  
}

.Pinfo{
  text-align:left;
  width:40%;
  margin-left: 30%;

}

.RequestPrescription2{
  width: 60%;
text-align:left;

}
.SymptomsChecker2{
  margin-left: 30%;
  width:auto;
  height: inherit;

}